body{
  font-family: 'Montserrat-Black', sans-serif;
  text-align: center;
}

h1, h2, h3{
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}
p {
  color: #8f8f8f;
}

/* Sections */
.white-section{
  background-color: white;
}

.coloured-section{
  background-color: #ff4c68;
}
/* Same Padding Section */
.same-space{
  padding: 100px;
}

.big-heading{
  color: white;
  font-size: 4.5rem;
  line-height: 1.5;
  text-align: left;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.8rem;
  font-weight: bold;
}

.navbar {
   padding-left: 0;       /*for alligning the brand name with the content */
   padding-bottom: 4.5rem;
}

.nav-item {
  font-size: 1.4rem;
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-family: 'Montserrat-Light';
}

/* Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Phone image */
.phone-image {
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features */

#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%;
}

.fa-symbol {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.fa-symbol:hover{
  color: #FF5F7E;
}

/* Testimonials */
#testimonials {
  color: white;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 40px;
}

.testimonial-text {
  color: white;
  font-size: 4rem;
  line-height: 1.5;
}

#press {
  padding-bottom: 3%;
}

.press-img {
  width: 13%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */
.pricing-title{
  font-size: 3.5rem;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-subtitle {
  font-size: 1.3rem;
}

@media (max-width: 1298px){
  #title{
    text-align: center;
  }
  h1{
    font-size: 3.6rem;
  }
  .phone-image{
    position: static;
    transform: rotate(0);
  }
}

/* CTA Section */

.cta-title{
  color: white;
  padding-left: 22%;
  padding-right: 22%;
  font-size: 3.5rem;
  line-height: 1.5;
}

.cta-button{
  margin: 3% 1%;
}

/* FOOTER */
.footer-icon{
  padding: 4% 1.5%;
  font-size: 2rem;
}
